 .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 6px solid #808080;
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 0.75s ease-in-out infinite;
}

@keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
}
